@model IEnumerable<MarketingSite.Models.Data.Request>


<h1>Список заявок</h1>

<p>
    @Html.ActionLink("Добавить заявку", "Create", "Request")
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndOfDevelopment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Application.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndOfDevelopment)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", "Request", new { id = item.Id }, null)
            </td>
        </tr>
        }
    </tbody>
</table>

